<!-- NAVBAR -->
<div class="app-navbar fixed fixed-tlr">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-container">
                    <div class="app-navbar-left back-link">
                        <a href="" id="back-link" class="ft-primary">
                            <i class="fa fa-chevron-left"></i>
                            <span class="d-none d-sm-inline">Terug</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>